parameters:
  level: 8
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Access to protected property Sample\\SampleResponsePayload::\$sampleAbout\.#'
    - '#Access to protected property Sample\\SampleResponsePayload::\$noGetterTestValue\.#'
    - '#Access to an undefined property Sample\\SampleResponsePayload::\$noProperty\.#'
