parameters:
  level: 8
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Access to protected property Shampine\\Tests\\Sample\\SampleResponse::\$sampleAbout\.#'
    - '#Access to protected property Shampine\\Tests\\Sample\\SampleResponse::\$noGetterTestValue\.#'
    - '#Access to an undefined property Shampine\\Tests\\Sample\\SampleResponse::\$noProperty\.#'
